// constantes

$colorTomatea : #a3671a;
$colorTomateb:#ff9205;
$colorNegro: #000;
$colorRojo: #c10f21;
$colorBlanco: #fff;
$colorGris:#939393;


// fuentes

@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Goudy+Bookletter+1911|Kalam|Lobster|Poiret+One|Ruslan+Display');

$fuente1:'Ruslan Display',
cursive;
$fuente2:'Lobster',
cursive;
$fuente3:'Gloria Hallelujah',
cursive;
$fuente4:'Poiret One',
cursive;
$fuente5:'Kalam',
cursive;
$fuente6:'Goudy Bookletter 1911',
serif;
